<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="yes" name="apple-touch-fullscreen" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>登录页</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<script src="../../js/requirejs2.0.min.js"></script>
		<script src="../../js/requirejs.config.js"></script>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<h1 v-cloak class="mui-title">{{title}}</h1>
			</header>
			<div class="mui-content">
				<form id='login-form' class="mui-input-group">
					<div class="mui-input-row">
						<label>账号</label>
						<input id='account' v-model="account" type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input id='password' v-model="password" type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
					</div>
				</form>
				<div class="mui-content-padded">
					<button id='login' v-on:tap="buttonfun" class="mui-btn mui-btn-block mui-btn-primary">登录</button>
				</div>
			</div>
		</div>
	</body>
	<script>
		require(['common'], function() {
			var Vue = require("vue");
			new Vue({
				el: "#app",
				data: {
					title: "登录页",
					account: "",
					password: ""
				},
				mounted: function() {
					mui.init();
				},
				methods: {
					buttonfun: function() {
						if(this.account == ""||this.account=="undefined") {
                           mui.toast("请输入账号");
						}
						if(this.password == ""||this.password=="undefined") {
                           mui.toast("请输入密码");
						}
						localStorage.setItem("$.account",this.account);
						localStorage.setItem("$.password",this.password);
						mui.openWindow("../main/index.html");
					}
				}
			})
		});
	</script>

</html>