<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="yes" name="apple-touch-fullscreen" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>设置</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<script src="../../js/requirejs2.0.min.js"></script>
		<script src="../../js/requirejs.config.js"></script>
	</head>

	<body>
		<div v-cloak id="gear" class="mui-content" style="padding-top: 0 !important;">
			<p>
				Ask a yes/no question:
				<input v-model="question" type="text">
			</p>
			<p>{{ answer }}</p>
			<h1 v-show="ok">Hello!</h1>
		</div>
	</body>
	<script>
		require(['common'], function() {
			var Vue = require("vue");
			var gear = new Vue({
				el: "#gear",
				data: {
					question: '',
					answer: 'I cannot give you an answer until you ask a question!',
					ok:false
				},
				watch: {
					// 如果 question 发生改变，这个函数就会运行
					question: function(newQuestion) {
						this.answer = 'Waiting for you to stop typing...';
						this.getAnswer();
					}
				},
				methods: {
					getAnswer: function() {
						this.answer = 'Thinking...';
						var vm = this;
						setTimeout(function() {
							vm.answer = vm.question + ":yes";
						}, 1000 * 3);
					}
				},
				created: function() {
					console.log("created");
				},
				mounted: function() {
					console.log("mounted");
				},
				updated: function() {
					console.log("updated");
				},
				destroyed: function() {
					console.log("destroyed");
				}
			});
		});
	</script>

</html>